

<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<ul id="tasks">
  <%= render @tasks %>

</ul>

<br>

<br>

<!-- <%= link_to 'New Task', new_task_path %> -->

<h2>New Task</h2>
<%= render 'form' %>
